.page-template-page-polling-center .featured {
    height: 100%;
    color: #FFF;
    position: relative;

    > .container {
        height: 100%;
        position: relative;

        > div {
            height: 100%;

            > div {
                height: 100%;
            }
        }
    }

    .entry-header {
        position: absolute;
        bottom: 100px;
        padding-left: 15px;
        padding-right: 15px;

        .page-title {
            margin-bottom: 50px;
            font-family: "proxima-nova",sans-serif;
            font-weight: normal;
            text-transform: uppercase;
        }

        .entry-title {
            background-color: $mc_dark_grey;
            font-size: 48px;

            @media(max-width: 767px) {
                font-size: 36px;
            }
        }
    }

    a:not(.btn-inverted) {
        color: #FFF;
    }

    .read-more {
        text-transform: uppercase;
        clear: both;
        float: left;
    }
}

.page-template-page-polling-center .sub-featured {
    padding: 40px 0;
    background-color: $mc_lightest_grey;
}