.page-template-page-polling-center .recent {
    padding: 40px 0;
    .col-sm-4 {
        &:nth-child(2) {
            border-right: 1px solid $mc_light_grey;
            border-left: 1px solid $mc_light_grey;
        }
    }
}