.page-template-page-about {

    > section {
        &.header {
            height: 100%;
            color: #FFFFFF;
            display: table;
            width: 100%;

            .inner {
                height: 100%;
                width: 100%;
                display: table-cell;
                vertical-align: middle;
            }

            h1 {
                font-family: "proxima-nova", sans-serif;
                letter-spacing: 2px;
                margin-top: 30px;

                @media(min-width: 768px) {
                    font-size: 48px;
                }
            }

            .backstretch:after {
                @include darken-backstretch();
            }
        }

        &.intro {
            padding: 80px 0 60px;

            .page {
                padding: 0;
            }

            .btn-lg {
                width: 100%;
                margin: 20px 0;
                border-color: #252525;
                color: #252525;

                &:hover {
                    background-color: #252525;
                    color: #FFFFFF;
                }
            }
        }

        &.polling {
            padding: 60px 0 80px;
            background-color: $mc_dark_grey;
            color: #FFFFFF;

            a {
                color: #FFFFFF;
            }

            .row {
                &:first-child {
                    margin-bottom: 20px;
                }
            }

            .thumbnail-wrap {
                position: relative;
                margin-bottom: 20px;

                img {
                    opacity: 0.85;
                }

                h3 {
                    margin: 0;
                    padding: 10px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }

            @media(max-width: 767px) {
                .col-sm-3 {
                    margin-bottom: 20px;
                }
            }
        }

        &.who {
            padding: 60px 0;
            background-color: #f7f7f7;

            a {
                color: #FFFFFF;
                display: block;
            }

            .author {
                position: relative;
                margin: 20px 0;
                text-shadow: 0 0 3px rgba(0,0,0,0.5);

                // &:after {
                //     content: "";
                //     display: block;
                //     width: 100%;
                //     height: 100%;
                //     position: absolute;
                //     left: 0;
                //     top: 0;
                //     background-color: rgba(0,0,0,0.2);
                //     z-index: 5;
                // }

                span {
                    display: block;
                    position: absolute;
                    padding: 10px;
                    left: 0;
                    bottom: 0;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-family: "proxima-nova", sans-serif;
                    z-index: 10;
                }
            }
        }

        &.mid {
            height: 100%;
            color: #FFFFFF;
            display: table;
            width: 100%;

            .inner {
                height: 100%;
                width: 100%;
                display: table-cell;
                vertical-align: middle;
            }

            h1 {
                font-family: "proxima-nova", sans-serif;
                letter-spacing: 2px;

                @media(min-width: 768px) {
                    font-size: 48px;
                }
            }
        }

        &.readers {
            padding: 60px 0 80px;
            background-color: #f7f7f7;

            .content {
                margin-bottom: 20px;
            }

            .reader {
                margin-bottom: 20px;
            }
        }

        &.advertise {
            padding: 40px 0 40px;
        }

        .gform_wrapper {
            font-family: "proxima-nova", sans-serif;

            input[type="text"], input[type="email"] {
                border: 1px solid $mc_dark_grey;
                padding: 10px 5px;
                border-radius: 3px;
            }

            ::-webkit-input-placeholder {
               text-transform: uppercase;
               color: $mc_med_grey;
            }

            :-moz-placeholder {
               text-transform: uppercase;
               color: $mc_med_grey;
            }

            ::-moz-placeholder {
               text-transform: uppercase;
               color: $mc_med_grey;
            }

            :-ms-input-placeholder {
               text-transform: uppercase;
               color: $mc_med_grey;
            }

            input[type="submit"] {
                background-color: #27ae60;
                border: none;
                outline: none;
                border-radius: 3px;
                color: #FFFFFF;
                text-transform: uppercase;
            }
        }
    }
}