.page.archive {

    .entry-title {
        a {
            color: $mc_dark_grey;
        }
    }

    .tech {
        color: $mc_tech;
    }

    .health {
        color: $mc_health;
    }

    .energy {
        color: $mc_energy;
    }

    .finance {
        color: $mc_finance;
    }

    .congress {
        color: $mc_congress;
    }
}

body.author.archive {
    .featured {
        width: 100%;
        height: 90%;
        display: table;

        .author-info {
            display: table-cell;
            vertical-align: middle;
        }

        .backstretch:after {
            @include darken-backstretch();
        }

        @media(max-width: 767px) {
            height: auto;
            padding: 40px 0;
        }
    }

    .bio-mobile {
        background-color: #252525;
        color: #FFFFFF;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .author-info {
        color: #FFFFFF;

        .name {
            margin-bottom: 0;
        }

        .job-title {
            font-size: 22px;
            margin-top: 15px;
        }

        .twitter {
            color: #FFFFFF;
        }

        .content {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}

.pager {
    li {
        > a, > span {
            border-radius: 4px;
            color: $mc_med_grey;
            border-color: $mc_med_grey;

            &:hover {
                background-color: $mc_med_grey;
                color: #FFFFFF;
            }
        }
    }
}