#footer-main {
    background-color: $mc_med_grey;
    padding: 120px 0;
    color: #FFFFFF;

    .footer-widget {
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 0;
        }

        @media(max-width: 767px) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .widget_sp_image {
        .footer-widget-inner {
            width: 100%;
            max-width: 300px;
        }
    }

    #menu-footer-menu {
        @include clearfix;
        font-family: "kepler-std", serif;

        &, & ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: block;
        }

        a {
            font-size: 16px;
        }

        > li {
            // width: 33.3333%;
            width: 16.66666%;
            margin-bottom: 30px;
            float: left;

            > a {
                font-weight: bold;
                font-size: 22px;
            }

            &:nth-child(3n+1) {
                // clear: left;
            }

            @media(max-width: 1199px) {
                width: 33.3333%;

                &:nth-child(4) {
                    clear: left;
                }
            }

            @media(max-width: 767px) {
                width: 100%;
                clear: none;
            }
        }

        a {
            color: #FFFFFF;
        }
    }

    #menu-footer-social-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 20px;
            font-size: 22px;
        }

        a {
            color: #FFFFFF;
        }
    }

    .copyright {
        text-align: center;
    }
}