$mc_header_font: #FFFFFF;

#header-main {
    color: $mc_header_font;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    font-family: "proxima-nova",sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;

    .navbar {
        margin-bottom: 0;
        border-radius: 0;
        border: none;

        &:first-child {
            background-color: $mc_dark_grey;
            z-index: 20;

            .nav > li > a:hover, .nav > li > a:focus {
                background-color: $mc_med_grey;
            }
        }

        &.hasColor, .collapse.in, .collapsing {
            background-color: $mc_dark_grey;
        }

        .collapse.in, .collapsing {
            @media(min-width: 768px) {
                background-color: transparent;
            }
        }
    }

    &.tech {
        .navbar:first-child, .hasColor, .collapse.in {
            background-color: $mc_tech;
        }

        @media(max-width: 767px) {
            .collapsing, .collapse.in {
                background-color: $mc_tech;
            }
        }
    }
    &.health {
        .navbar:first-child, .hasColor, .collapse.in {
            background-color: $mc_health;
        }

        @media(max-width: 767px) {
            .collapsing, .collapse.in {
                background-color: $mc_health;
            }
        }
    }
    &.energy {
        .navbar:first-child, .hasColor, .collapse.in {
            background-color: $mc_energy;
        }

        @media(max-width: 767px) {
            .collapsing, .collapse.in {
                background-color: $mc_energy;
            }
        }
    }
    &.finance {
        .navbar:first-child, .hasColor, .collapse.in {
            background-color: $mc_finance;
        }

        @media(max-width: 767px) {
            .collapsing, .collapse.in {
                background-color: $mc_finance;
            }
        }
    }
    &.congress {
        .navbar:first-child, .hasColor, .collapse.in {
            background-color: $mc_congress;
        }

        @media(max-width: 767px) {
            .collapsing, .collapse.in {
                background-color: $mc_congress;
            }
        }
    }

    .current-menu-item a {
        border-bottom: 2px solid #FFFFFF;

        @media(max-width: 767px) {
            border-bottom: none;
            text-decoration: underline;
        }
    }

    a:not(.btn) {
        color: $mc_header_font;
    }

    .navbar-toggle {
        border-color: $mc_header_font;
        position: absolute;
        right: 5px;
        top: 3px;
    }

    .navbar-brand {
        height: 62px;
        @media (max-width:767px) {
            float: left;

            img {
                width: auto;
            }
        }
    }

    .menu-item a {
        line-height: 32px;
    }

    .icon-bar {
        background-color: $mc_header_font;
        height: 1px;

        & + .icon-bar {
            margin-top: 8px;
        }
    }

    .navbar-collapse {
        box-shadow: none;
    }

    .subscribe-link {
        @media(max-width: 767px) {
            text-align: center;
        }
    }

    .navbar.lower {
        text-align: left;
        z-index: 10;
        transition: top 0.5s ease-in-out, background-color 0.1s linear;

        .navbar-collapse {
            @media (min-width: 768px) {
                padding-left: 0;
            }
            @media (max-width: 767px) {
                text-align: center;
            }
        }

        @media(min-width: 768px) {
            &.nav-up {
                top: -128px;
            }

            &.nav-down {
                top: 0;
            }
        }

        @media(max-width: 767px) {
            min-height: 0;
        }

        .menu-item {
            @media(min-width: 768px) {
                margin-right: 40px;
            }

            a {
                padding: 0;

                &:hover, &:active, &:focus {
                    background-color: transparent;

                    &:not(.current-menu-item) {
                        text-decoration: underline;
                    }
                }
            }
        }

        .navbar-right {
            .menu-item {
                margin-right: 0;

                a {
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
        }
    }
}

.page-template-default {
    #header-main {
        .navbar.lower {
            background-color: $mc_dark_grey;
        }
    }
}