body.single {
    .featured {
        height: 80%;
    }
}

body.single {
    .featured-image-caption {
        font-size: 12px;
        color: rgb(120, 120, 120);
        text-align: right;
        padding: 5px 10px;
    }
}

body.single > .single {
    padding: 60px 0;

    .entry-title {
        @media(max-width: 767px) {
            font-size: 30px;
        }
    }

    .single-image, .multiple-images {
        img {
            width: 100%;
        }
    }

    .entry-meta {
        font-family: "proxima-nova", sans-serif;
        font-size: 14px;
        font-weight: lighter;
        text-transform: uppercase;

        span.author, a, .separator {
            color: $mc_light_grey;
        }
    }

    .entry-content {
        p {
            line-height: 1.6;
        }
    }

    .alignright {
        margin-right: -25%;

        figcaption {
            text-align: right;
        }
    }

    .alignleft {
        margin-left: -25%;

        figcaption {
            text-align: left;
        }
    }

    .quote {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;

        blockquote {
            border: none;
            font-style: italic;
            padding: 0;
            margin: 0;
            font-size: 36px;
            display: block;
        }

        .source {
            font-style: normal;
            display: block;
            margin-top: 20px;
        }
    }

    .caption {
        padding: 5px 0 0;
        font-style: italic;
        display: block;
    }

    .single-image {
        margin-top: 40px;
        margin-bottom: 40px;

        &.full-width {

            .caption {
                padding-top: 10px;
            }
        }
    }

    .plain-content {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .multiple-images {
        margin-top: 40px;
        margin-bottom: 40px;

        &.images-4 {
            .row:first-child {
                margin-bottom: 30px;
            }
        }
    }

    .tweet-this, .share-this {
        display: block;
        padding: 20px 0;
        color: #FFFFFF;
        text-align: center;
        border-radius: 3px;
        text-transform: uppercase;
        font-family: "proxima-nova", sans-serif;
        transition: opacity 0.2s;
        margin-bottom: 20px;

        &:hover {
            text-decoration: none;
            opacity: 0.6;
        }
    }

    .tweet-this {
        background-color: $twitter_blue;
    }

    .share-this {
        background-color: $facebook_blue;
    }

    .single-footer {
        margin-top: 40px;
        margin-bottom: 40px;

        .authors {
            margin-top: 40px;
            border-top: 1px solid $mc_light_grey;
            border-bottom: 1px solid $mc_light_grey;

            .author {

                .name {
                    display: block;
                    margin-bottom: 0;
                }

                .twitter, .author-link {
                    display: block;
                    color: $mc_light_grey;
                }
            }

            .author-photo {
                margin: 40px 20px 20px 0;
                float: left;
                width: 110px;

                img {
                    border-radius: 100%;
                }
            }

            .author-info {
                padding: 30px 0;

                p {
                    font-style: italic;
                }
            }
        }
    }

    .related {
        .entry-content {
            p {
                line-height: 1.4;
            }
        }
    }

    @media(max-width: 767px) {
        padding: 30px 0;
    }

}