// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
6.1 Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
6.2 Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
6.3 Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
6.4 Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
6.5 Home
--------------------------------------------------------------*/
@import "home/home";

/*--------------------------------------------------------------
6.6 Footer
--------------------------------------------------------------*/
@import "footer";

/*--------------------------------------------------------------
6.7 Section Homes
--------------------------------------------------------------*/
@import "section-home/section";

/*--------------------------------------------------------------
6.8 Polling Center
--------------------------------------------------------------*/
@import "polling/polling";

/*--------------------------------------------------------------
6.9 Search
--------------------------------------------------------------*/
@import "search";

/*--------------------------------------------------------------
6.10 Archive
--------------------------------------------------------------*/
@import "archive";

/*--------------------------------------------------------------
6.11 Single
--------------------------------------------------------------*/
@import "single";

/*--------------------------------------------------------------
6.12 Single
--------------------------------------------------------------*/
@import "about";

/*--------------------------------------------------------------
6.13 General
--------------------------------------------------------------*/

html {
    -webkit-font-smoothing: antialiased;

    @media
    only screen and (-webkit-min-device-pixel-ratio: 1.25),
    only screen and ( min-device-pixel-ratio: 1.25),
    only screen and ( min-resolution: 200dpi),
    only screen and ( min-resolution: 1.25dppx)
    {
        -webkit-font-smoothing: subpixel-antialiased;
    }
}

body, html {
    height:  100%;
}

body {
    padding-top: 62px;
    color: $mc_body_text;
    font-family: "kepler-std", serif;
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

img.logo {
    // width: 100%;
    height: 100%;
}

.entry-footer {
    font-family: "proxima-nova",sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

li.gfield {
    margin-bottom: 15px;
}