.wide-ad-area {
    clear: both;
    background-color: #000000;
    text-align: center;

    .ad-wrap {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;

        img {
            // width: 100%;
        }
    }

    .widget {
        margin: 0;
    }
}

.small-ad-area {
    text-align: center;
}