.subscribe-bar-wrap {
    text-align: center;
    background-color: $mc_dark_grey;
    color: #FFFFFF;
    padding: 20px 0;
    font-family: "proxima-nova",sans-serif;

    &.tech {
        background-color: $mc_tech;
    }

    &.health {
        background-color: $mc_health;
    }

    &.energy {
        background-color: $mc_energy;
    }

    &.finance {
        background-color: $mc_finance;
    }

    &.congress {
        background-color: $mc_congress;
    }

    .widget {
        margin: 0;
    }

    .textwidget {
        @include clearfix;
        width: 75%;
        max-width: 500px;
        margin: 0 auto;

        span {
            display: block;
            height: 42px;
            line-height: 42px;
            vertical-align: middle;
            text-transform: uppercase;
            float: left;

            @media(max-width: 767px) {
                display: none;
            }
        }

        .btn {
            display: block;
            margin: 0;
            margin-left: 20px;
            height: 42px;
            text-transform: uppercase;
            float: right;

            @media(max-width: 767px) {
                float: none;
            }
        }
    }
}

.subscribe-modal {
    .modal-backdrop {
        opacity: 0.9;
        background-color: #222222;
    }

    .modal-content {
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        color: #FFFFFF;

        .close {
            color: #FFFFFF;
            text-shadow: none;
            opacity: 1;
        }
    }

    .gform_wrapper {

        input[type="text"], input[type="email"] {
            background-color: transparent;
            border: 1px solid #FFFFFF;
            padding: 10px 5px;
            font-size: 14px;
            font-family: "proxima-nova",sans-serif;
        }

        ::-webkit-input-placeholder {
           color: rgb(200,200,200);
           text-transform: uppercase;
           font-family: "proxima-nova",sans-serif;
        }

        :-moz-placeholder { /* Firefox 18- */
           color: rgb(200,200,200);
           text-transform: uppercase;
           font-family: "proxima-nova",sans-serif;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           color: rgb(200,200,200);
           text-transform: uppercase;
           font-family: "proxima-nova",sans-serif;
        }

        :-ms-input-placeholder {
           color: rgb(200,200,200);
           text-transform: uppercase;
           font-family: "proxima-nova",sans-serif;
        }
    }
}

.subscribe-modal .gform_wrapper, .subscribe_wrapper {

    .gfield_checkbox, .gfield_radio, .gfield_checkbox {
        li input[type=checkbox], li input[type=radio], [type=checkbox] {
            margin-top: 4px;

            + label {
                font-weight: normal;
            }
        }
    }

    .gfield_checkbox {
        > li {
            float: left;
            margin-right: 40px !important;

            @media(max-width: 479px) {
                &:nth-child(3) {
                    clear: left;
                }
            }
        }
    }

    .gform_footer {
        input[type="submit"] {
            background-color: #27ae60;
            border: none;
            outline: none;
            border-radius: 3px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
    }
}