@import "stories";
@import "polls";
@import "opinions";

.home {
    .stories-lower, .opinions {
        .read-more {
            color: $mc_light_grey;
            text-transform: uppercase;
            font-size: 18px;
            font-family: "proxima-nova",sans-serif;
        }
    }
}