.home .opinions {
    padding: 60px 0;

    .section-title {
        margin-bottom: 30px;
    }

    .col-sm-6.left {
        border-right: 1px solid $mc_light_grey;
    }

    article {
        margin-bottom: 50px;

        h3 {
            margin-top: 0;
        }

        h4 {
            font-family: "proxima-nova",sans-serif;
            color: $mc_light_grey;
            text-transform: uppercase;
            font-weight: normal;
        }
    }
}