.home .polling-featured, .home .polling-lower {
    background-color: $mc_med_grey;
    color: #FFFFFF;

    a:not(.tech):not(.health):not(.energy):not(.finance):not(.congress) {
        color: #FFFFFF;
    }
}

.home .polling-featured {
    padding-top: 60px;
    padding-bottom: 60px;

    article.excerpt {
        color: #FFFFFF;

        .entry-header {
            a {
                color: #FFFFFF;
            }
        }
    }
}

.home .polling-lower {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #252525;

    img {
        width: 100%;
    }
}