.home .featured {
    height: 100%;
    color: #FFF;
    position: relative;

    > .container {
        height: 100%;
        position: relative;

        > div {
            height: 100%;

            > div {
                height: 100%;
            }
        }
    }

    .entry-header {
        position: absolute;
        bottom: 100px;
        padding-left: 15px;
        padding-right: 15px;
        // width: 100%;

        h2 {
            font-size: 48px;
            background-color: #252525;

            @media(max-width: 767px) {
                font-size: 36px;
            }
        }
    }

    a:not(.btn-inverted) {
        color: #FFF;
    }

    .read-more {
        text-transform: uppercase;
    }

    .backstretch:after {
        @include darken-backstretch();
    }
}

.home .stories-lower {
    padding: 60px 0;

    .section-title {
        margin-bottom: 30px;
    }

    .wp-post-image {
        width: 100%;
        margin-bottom: 15px;
    }

    .middle-column {
        border-left: 1px solid $mc_light_grey;
        border-right: 1px solid $mc_light_grey;
    }

    article {
        margin-bottom: 30px;

        h3 {
            margin-top: 0;
        }
    }
}