$mc_screen_bg: #f1f1f1;

$mc_dark_grey: #222222;
$mc_med_grey: #333333;
$mc_light_grey: #aaaaaa;
$mc_lightest_grey: #eeeeee;

$mc_headline_text: $mc_dark_grey;
$mc_subhead_text: #201f1d;
$mc_body_text: #252525;
$mc_meta_text: $mc_light_grey;

$mc_tech: #f39c12;
$mc_health: #c63730;
$mc_energy: #2980b9;
$mc_finance: #51a03c;
$mc_congress: #9236B8;

$twitter_blue: #00bff3;
$facebook_blue: #003471;