.btn {
    font-family: "proxima-nova",sans-serif;
}

.btn-inverted {
    border: 1px solid #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    background-color: transparent;
    color: #FFFFFF;

    &:hover, &:active {
        background-color: #FFFFFF;
        color: $mc_dark_grey;
        text-decoration: none;
        border-color: #FFFFFF;
    }
}