.page-template-page-section-home .brief-polling {
    padding: 40px 0;
    background-color: $mc_lightest_grey;

    a:not(.tech):not(.energy):not(.finance):not(.health):not(.congress):not(.read-more) {
        color: $mc_body_text;
    }

    .read-more {
        background-color: transparent;
    }

    .left-column {
        border-right: 1px solid $mc_light_grey;
    }

    .read-more {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &.tech {
        .read-more {
            border-color: $mc_tech;
            color: $mc_tech;
        }
    }

    &.health {
        .read-more {
            border-color: $mc_health;
            color: $mc_health;
        }
    }

    &.energy {
        .read-more {
            border-color: $mc_energy;
            color: $mc_energy;
        }
    }

    &.finance {
        .read-more {
            border-color: $mc_finance;
            color: $mc_finance;
        }
    }

    &.congress {
        .read-more {
            border-color: $mc_congress;
            color: $mc_congress;
        }
    }

    .more-polls {
        a {
            display: block;
        }
    }

    h2 {
        @media(min-width: 768px) {
            margin-top: 0;
        }
    }

}