.page-template-page-section-home .featured {
    height: 100%;
    color: #FFF;
    position: relative;

    > .container {
        height: 100%;
        position: relative;

        > div {
            height: 100%;

            > div {
                height: 100%;
            }
        }
    }

    .entry-header {
        position: absolute;
        bottom: 100px;
        padding-left: 15px;
        padding-right: 15px;

        h2 {
            font-size: 48px;

            @media(max-width: 767px) {
                font-size: 36px;
            }
        }
    }

    a:not(.btn-inverted) {
        color: #FFF;
    }

    .read-more {
        text-transform: uppercase;
    }

    .backstretch:after {
        @include darken-backstretch();
    }

    &.tech {
        h2 {
            background-color: $mc_tech;
        }
    }
    &.health {
        h2 {
            background-color: $mc_health;
        }
    }
    &.energy {
        h2 {
            background-color: $mc_energy;
        }
    }
    &.finance {
        h2 {
            background-color: $mc_finance;
        }
    }
    &.congress {
        h2 {
            background-color: $mc_congress;
        }
    }
}