@import "featured";
@import "brief-polling";

.page-template-page-section-home {
    .stories {
        padding: 80px 0 20px;

        .col-sm-4 {
            &:nth-child(2) {
                border-right: 1px solid $mc_light_grey;
                border-left: 1px solid $mc_light_grey;
            }
        }
    }

    .opinions {
        padding: 20px 0 80px;

        .col-sm-6:first-child {
            border-right: 1px solid $mc_light_grey;
        }
    }

    .stories, .opinions {
        .read-more {
            color: $mc_light_grey;
            text-transform: uppercase;
            font-size: 18px;
            font-family: "proxima-nova",sans-serif;
        }
    }
}