.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0.8em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

div.page {
    padding: 60px 0;
}

div.single {
    article {
        font-size: 16px;
        line-height: 1.6;
    }
}

article {

    &.excerpt {
        color: $mc_subhead_text;

        .entry-header {
            a {
                color: $mc_subhead_text;
            }
        }
    }

    .entry-footer {
        color: $mc_meta_text;

        .timeago {
            color: $mc_meta_text;
        }

        a {
            text-transform: uppercase;
        }
    }

    a.tech {
        color: $mc_tech;
    }

    a.health {
        color: $mc_health;
    }

    a.energy {
        color: $mc_energy;
    }

    a.finance {
        color: $mc_finance;
    }

    a.congress {
        color: $mc_congress;
    }
}

.page-header {
    border: none;
}